{% extends "base_clean.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password reset" %}{% endblock %}
{% block page_header %}{% trans "Password reset" %}{% endblock %}

{% block content %}
     <section>
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    <li>
                        <a href="/" title="">Главная</a>
                    </li>
                    <li>
                        <a href="" title="">{% trans "Password reset" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page login-page">
            <div class="container">
                <p>{% trans "Please enter your registration email in order to reset your password. We will send how-to instructions to this email." %}</p>

                <form action="." method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-primary" type="submit" value="{% trans "Reset password" %}">
                </form>
            </div>
        </div>
     </section>
{% endblock %}
