<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Salamat</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="img/favicon.png" rel="icon" type="image/png" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/magnific-popup.min.css" rel="stylesheet" type="text/css" />
	<link href="css/slick.min.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/media.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<div class="header-1">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="header-contacts">
							<div class="item item-1 hidden-md-down">
								<a href="mailto:info@tc-salamat.kz" title="">info@tc-salamat.kz</a>
							</div>
							<div class="item item-2">
								<div class="item">Время работы <br/>с 9.00 до 18.00</div>
								<div class="item grey hidden-md-down">без выходных <br/>и без перерыва</div>
							</div>
							<div class="item item-3">
								<a href="" title="">Как проехать </a>
							</div>
							<div class="item item-4">
								<a href="https://facebook.com" title="" class="fb"></a>
								<a href="https://vk.com" title="" class="vk"></a>
								<a href="https://instagram.com" title="" class="in"></a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="header-account">
							<div class="item item-2">
								<a href="" title="">Войти</a>
							</div>
							<div class="item item-1">
								<a href="" title="">Регистрация</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-2">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-7">
						<a href="" title="" class="logo">
							<img src="img/logo.png" alt="" />
						</a>
					</div>
					<div class="col-md-9 col-xs-5">
						<button class="burger"></button>
						<ul id="menu">
							<li>
								<a href="" title="">О нас</a>
							</li>
							<li>
								<a href="" title="">План зданий Саламат</a>
							</li>
							<li>
								<a href="" title="">Арендаторам</a>
							</li>
							<li>
								<a href="" title="">Контакты</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="header-3">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="header-catalog">
							<a href="#catalog" title="" class="btn mw catalog-btn"><span>Каталог</span></a>
							<ul id="catalog">
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-1.png);">Стройматериалы</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-2.png);">Интерьер</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-3.png);">Сантехника</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-4.png);">Электрооборудование</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-5.png);">Инструменты</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-6.png);">Отопление, вентиляция</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-7.png);">Услуги</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="" title="" style="background: url(img/icon-catalog-8.png);">Другое</a>
									<ul>
										<li>
											<a href="" title="">Ванная</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Туалет</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="" title="">Кухня</a>
											<ul>
												<li>
													<a href="" title="">аксессуары</a>
												</li>
												<li>
													<a href="" title="">мебель для ванной</a>
												</li>
												<li>
													<a href="" title="">ванны</a>
												</li>
												<li>
													<a href="" title="">двери</a>
												</li>
												<li>
													<a href="" title="">джакузи</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="header-search">
							<input type="search" name="search" placeholder="Поиск" />
							<a href="#categories" title="" class="categories-btn"><span>Категории</span></a>
							<div id="categories">
								<label>
									<input type="radio" name="categories" value="Стройматериалы" hidden />
									Стройматериалы
								</label>
								<label>
									<input type="radio" name="categories" value="Интерьер" hidden />
									Интерьер
								</label>
								<label>
									<input type="radio" name="categories" value="Сантехника" hidden />
									Сантехника
								</label>
								<label>
									<input type="radio" name="categories" value="Электрооборудование" hidden />
									Электрооборудование
								</label>
								<label>
									<input type="radio" name="categories" value="Инструменты" hidden />
									Инструменты
								</label>
								<label>
									<input type="radio" name="categories" value="Отопление, вентиляция" hidden />
									Отопление, вентиляция
								</label>
								<label>
									<input type="radio" name="categories" value="Услуги" hidden />
									Услуги
								</label>
								<label>
									<input type="radio" name="categories" value="Другое" hidden />
									Другое
								</label>
							</div>
							<button type="button"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="breadcrumbs">
			<div class="container">
				<ul>
					<li>
						<a href="/" title="">Главная</a>
					</li>
					<li>
						<a href="" title="">Восстановление пароля</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page login-page">
			<div class="container">
				<div class="title title-1">
					<h1 class="grey m-t-1 m-b-3 text-xs-center"><span>Восстановление пароля</span></h1>
				</div>
				<div class="row">
					<div class="col-md-6 pull-xs-none">
						<div class="cart-caption login-caption password-recovery m-b-3 p-b-3 col-xs-12 grey">
							<div id="password-2">
								<div class="form">
									<h4 class="green">На почту отправлено письмо с восстановлением пароля </h4>
									<form>
										<input type="text" name="" value="" placeholder="Введите код" />
										<div class="row">
											<div class="col-md-5">
												<button class="btn send"><span>Отправить</span></button>
											</div>
											<div class="col-md-7">
												<button type="button" class="btn send"><span>Письмо не пришло</span></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-12 text-xs-center">
						<img src="img/logo.png" alt="" />
						<a href="#catalog" title="" class="btn mw catalog-btn m-t-3"><span>Каталог</span></a>
					</div>
					<div class="col-md-3 col-xs-6">
						<h4>О нас</h4>
						<ul>
							<li>
								<a href="" title="">Полезные статьи</a>
							</li>
							<!--<li>-->
								<!--<a href="" title="">Газета Саламат</a>-->
							<!--</li>-->
							<li>
								<a href="/plan/" title="">Карта Саламат</a>
							</li>
						</ul>
						<h4>Социальные сети</h4>
						<a href="" title="" class="social-icon fb"></a>
						<a href="" title="" class="social-icon vk"></a>
						<a href="" title="" class="social-icon in"></a>
					</div>
					<div class="col-md-3 col-xs-6">
						<h4>Контакты</h4>
						<p>
							Адрес: ул. Шевченко, 204а; <br/>
							Тел: +7 (727) 394 40 82; <br/>
							Аренда: +7 (700) 451 51 80; <br/>
							Эл. адрес: info@tc-salamat.kz<br/>
							<a href="" title="">Как проехать</a>
						</p>
					</div>
					<div class="col-md-3 col-xs-12">
						<h4>Вопрос к администрации</h4>
						<form>
							<input type="hidden" name="subject" value="" />
							<input type="text" name="" value="" placeholder="Имя" />
							<input type="text" name="" value="" placeholder="Номер телефона" />
							<textarea rows="" name="" placeholder="Ваш вопрос"></textarea>
							<button class="btn send"><span></span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-4">
						Саламат 2018
					</div>
					<div class="col-md-9 col-xs-8 text-md-right">
						Разработка сайта <a href="http://puzzle.kz" title="" target="_blanc"><img src="img/puzzle.png" alt="" style="margin-left: 15px; vertical-align: sub;" /></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="popup">
		<div id="password-1" class="col-md-6 col-xs-12 pull-xs-none">
			<div class="form">
				<h4>Восстановление пароля</h4>
				<form>
					<input type="text" name="" value="" placeholder="E-mail" class="error" />
					<p class="m-t-0 grey">Данного Email адреса нет в Базе</p>
					<button href="#password-2" class="btn mw send" popup><span>Отправить</span></button>
				</form>
			</div>
		</div>
		<div id="password-2" class="col-md-6 col-xs-12 pull-xs-none">
			<div class="form">
				<h4 class="green">На почту отправлено письмо с восстановлением пароля </h4>
				<form>
					<input type="text" name="" value="" placeholder="Введите код" />
					<div class="row">
						<div class="col-md-5">
							<button href="#password-3" class="btn send" popup><span>Отправить</span></button>
						</div>
						<div class="col-md-7">
							<button type="button" class="btn send"><span>Письмо не пришло</span></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="password-3" class="col-md-6 col-xs-12 pull-xs-none">
			<div class="form">
				<h4>Восстановление пароля</h4>
				<form>
					<input type="password" name="" value="" placeholder="Введите новый пароль" />
					<input type="password" name="" value="" placeholder="Повторите пароль" />
					<button class="btn mw save"><span>Сохранить</span></button>
				</form>
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
	<script src="js/slick.min.js" type="text/javascript"></script>
	<script src="js/main.js" type="text/javascript"></script>
</body>
</html>